* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}


header {
  padding: 5px;
  display: block;
}

.notheader {
  display: flex;
  height: 630px;
}


#instructions {
  height: 630px;
}

.heading {
  display:block;
  color: black;
  text-align: center;
}

#canvas {
  background: white;
  border-radius: 5px;
  border: solid 5px black;
  width: 630px;
  height: 630px;
  margin: 10px
}

.divtheme {
  background: #999999;
  margin: 10px;
  border: solid 8px black;
  border-radius: 5px;
  color: black;
}
